@font-face {
  font-family: "CustomFont";
  src: url("../../font/AvantGarde.ttf");
}

html, body {
  font-family: "CustomFont";
  flex: 1;
  background-color: #272727;
  background-size: cover;
  background-position: top center;
}

ul {
  list-style: none;
}

.first-indent {
  margin-left: 20px;
}

.first-indent h3 {
  color: #14A76C;
}

.first-indent h4 {
  color: white;
}

.playername {
  margin-left: 20px;
  cursor: pointer;
}

.bossname:hover {
  color: white;
  cursor: pointer;
}

a, .btn-link {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

app {
  position: relative;
  display: flex;
  flex-direction: column;
}

.top-row {
  height: 3.5rem;
  display: flex;
  align-items: center;
}

.mdc-list-item__text {
  color: black;
}

td, li, th {
  color: white;
  padding-right: 3px;
}
.roster {
  width: 700px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-basis: auto;
}

.flex-content {
  box-sizing: border-box;
  width: 50%;
}

.flex-container h4 {
  color: #FFE400;
}

.mdc-button__ripple {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.nav-link {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  text-decoration: none;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.border {
  border: none !important;
}

.main {
  flex: 1;
  background-color: #272727;
  background-size: cover;
  background-position: top center;
}
.main h1 {
  font-size: 2.5em;
  color: #ff652f;
}
.main h2 {
  cursor: pointer;
  font-size: 1.5em;
  color: #FFE400;
}

.main h5 {
  font-size: 1.5em;
  color: #FFE400;
}

.main h2:hover {
  color: white;
}

.main .panel-heading {
  background-color: transparent;
  color: white;
}
.main .panel-heading .form-text {
  color: white;
}
.main .ul {
  color: white;
}
.main p {
  color: white;
}
.main .top-row {
  border-bottom: 1px solid #d6d5d5;
  justify-content: flex-end;
}
.main .top-row > a, .main .top-row .btn-link {
  white-space: nowrap;
  margin-left: 1.5rem;
}
.main .top-row a:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar {
  background-color: #272727;
}
.sidebar .navbar-brand {
  font-size: 1.14em;
}
.sidebar .oi {
  font-size: 1.1rem;
  vertical-align: text-top;
  top: -2px;
}
.sidebar .nav-item {
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
  justify-content: center;
}
.sidebar:first-of-type {
  padding-top: 1rem;
}
.sidebar:last-of-type {
  padding-bottom: 1rem;
}
.sidebar a {
  color: white;
  border-radius: 4px;
  height: 3rem;
  display: flex;
  align-items: center;
  line-height: 3rem;
}
.sidebar a.active {
  background-color: rgba(255, 255, 255, 0.25);
  color: white;
}
.sidebar a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.content {
  padding-top: 1.1rem;
}

.navbar-toggler {
  background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
  outline: 1px solid #26b050;
}

.invalid {
  outline: 1px solid red;
}

.validation-message {
  color: red;
}

#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}

@media (max-width: 767.98px) {
  .main .top-row:not(.auth) {
    display: none;
  }

  .main .top-row.auth {
    justify-content: space-between;
  }

  .main .top-row a, .main .top-row .btn-link {
    margin-left: 0;
  }
}
@media (min-width: 768px) {
  app {
    flex-direction: row;
  }

  .sidebar {
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0;
  }

  .main .top-row {
    position: sticky;
    top: 0;
  }

  .main > div {
    padding-left: 2rem !important;
    padding-right: 1.5rem !important;
  }

  .navbar-toggler {
    display: none;
  }

  .sidebar .collapse {
    /* Never collapse the sidebar for wide screens */
    display: block;
  }
}