.DeathKnight {
    color: #Cf1F3B;
}

.DemonHunter {
    color: #A330C9;
}

.Druid {
    color: #FF7D0A;
}

.Hunter {
    color: #A9D271;
}

.Mage {
    color: #40C7EB;
}

.Monk {
    color: #00FF96;
}

.Paladin {
    color: #F58CBA;
}

.Priest {
    color: #FFFFFF;
}

.Rogue {
    color: #FFF569;
}

.Shaman {
    color: #0070DE;
}

.Warlock {
    color: #8787ED;
}

.Warrior {
    color: #C79C6E;
}