<div>
    <h2 @onclick="ToggleVisible">@( this.Visible=="collapse" ? "+" : "-")Missing players:</h2>
    <div class="@Visible">
        <ul>
            @foreach(var player in GetMissingPlayers()) {
                <li class="@(player.GetMainCharacterClass())">@player.Name</li>
            }
        </ul>
    </div>
</div>